{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="filter" id="filter"></div>
<!--banner-->
<div class="banner banner-picture">
    <h2>STAR-PHONE<br>PICTURE</h2>
</div>
{% include 'include/sub_nav.html' %}

<!--main-->
<div class="tab-page">
    <div class="page-container">
        <div class="picture-inner">
            <div class="picture-cell">
                <h3>Star-Phone 星空系列</h3>
                <ul class="clearfix">
                    {% for propic in proPic_list %}
                        {% if  propic.id <= 2 %}
                    <li><a href=""><img src="{% static propic.img_url.url %}" alt="">
                        <p class="picture-desc">Star-Phone 星空黑</p></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="picture-cell">
                <h3>Star-Phone 星空系列</h3>
                <ul class="clearfix">
                    {% for propic in proPic_list1 %}
                        {% if  propic.id <= 3  %}
                    <li><a href=""><img src="{% static propic.img_url.url %}" alt="">
                        <p class="picture-desc">Star-Phone 星空黑</p></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="picture-cell">
                <h3>Star-Phone 星空系列</h3>
                <ul class="clearfix">
                    {% for propic in proPic_list %}
                        {% if propic.id >= 4 %}
                    <li><a href=""><img src="{% static propic.img_url.url %}" alt="">
                        <p class="picture-desc">Star-Phone 星空黑</p></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}